$serif: (
	antiqua : ( 'Book Antiqua', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif' ),
	baskerville : ( 'Baskerville', 'Baskerville old face', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif' ),
	bodoni : ( 'Bodoni MT', 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif' ),
	cambria : ( 'Cambria', 'Georgia', 'serif' ),
	caslon : ( 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', 'Georgia', 'serif' ),
	constantia : ( 'Constantia', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif' ),
	didot : ( 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif' ),
	garamond : ( 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif' ),
	goudy : ( 'Goudy Old Style', 'Garamond', 'Big Caslon', 'Times New Roman', 'serif' ),
	hoefler : ( 'Hoefler Text', 'Baskerville old face', 'Garamond', 'Times New Roman', 'serif' ),
	lucida-bright : ( 'Lucida Bright', 'Georgia', 'serif' ),
	palatino : ( 'Palatino', 'Palatino Linotype', 'Palatino LT STD', "Book Antiqua", 'Georgia', 'serif' )
);
