@mixin typography-forms() {
	fieldset {
		margin: 0;
		border: 1px solid darken( map-get( $colors, 'white' ), 7%);
		padding: ( map-get( $body, 'line-height' ) * .859703337) + rem map-get( $padding, 'left' ) ( map-get( $body, 'line-height' ) ) + rem;
	}

	legend {
		color: map-get( $header, 'color' );
		font-weight: map-get( $header, 'font-weight' );
	}

	label {
		display: block;
		margin-bottom: calc( #{map-get( $body, 'line-height' )} * .5rem );
	}

	input[type="text"],
	input[type="email"],
	textarea {
		border: 1px solid darken( map-get( $colors, 'white' ), 7% );
		padding: calc( #{map-get( $body, 'line-height' )} * .0777rem );
	}
	input[type="submit"],
	input[type="button"],
	button {
		padding-top: 0;
		padding-bottom: 0;
	}
}
